.driving-directions {
	display: flex;
	flex-wrap: wrap;
	// @include border-box;
	margin-left: -13px;
	margin-right: -13px;
	margin-bottom: 48px;

	counter-reset: item;
	@include mq_phone {
		margin-bottom: 0;
	}// END mq_phone

	&__list {
		padding-left: 13px;
		padding-right: 13px;
		width: 25%;
		margin-bottom: 21px;
		@include mq_tablet {
			width: 50%;

		}// END mq_tablet--portrait
		@include mq_phone {
			width: 50%;
		}// END mq_phone
		@include mq_480 {
			width: 100%;
		}
	}
	&__inside {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		overflow: hidden;

		display: flex;
	    flex-direction: column;
	    height: 100%;


		font-size: 13px;
		line-height: 20px;
		color: #000;

		padding-bottom: (166/212*100%);
	}
	&__header {
		padding-bottom: 13px;

		&:before {
			display: block;
			background-color: #e6edf2;
			content: counter(item);
		    counter-increment: item;

			margin-left: -20px;
			margin-right: -20px;
			margin-bottom: 15px;
			padding: 13px 19px 11px 19px;
			font-family: $ff-roboto;
			font-size: 18px;
			line-height: 22px;
			font-weight: bold;
			color: #0063a6;
		}
	}
	//212*166
	&__picture {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: (166/212*100%);
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
	}
}// END .driving-directions
