@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/fonts/icomoon.eot?9xr0uc");
  src: url("../fonts/icomoon/fonts/icomoon.eot?9xr0uc#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?9xr0uc") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?9xr0uc") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?9xr0uc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.menu-area {
  z-index: 99; }

.menu__item {
  position: relative; }

.menu-area .menu-link:hover {
  color: #fff; }

.sub-menu {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #fff; }
  .sub-menu__box {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 2px;
    left: -83px;
    width: 341px;
    border-bottom: 1px solid #dae8f1;
    font-size: 0;
    line-height: 0;
    z-index: 100; }
    .menu__item:hover .sub-menu__box {
      display: block; }
    .sub-menu__box--small {
      width: 243px;
      left: 0; }
  .sub-menu__list {
    display: block;
    margin-top: -1px; }
    .sub-menu__list:hover .nested-menu__box {
      display: block; }
    .sub-menu__list:hover .sub-menu__link {
      color: #0063a6;
      border-color: #dae8f1;
      background-color: #dae8f1;
      z-index: 1; }
      .sub-menu__list:hover .sub-menu__link:after {
        background-position: -9px 0; }
    .sub-menu__list:last-of-type > .sub-menu__link {
      border-bottom: none; }
  .sub-menu__link {
    display: block;
    position: relative;
    border: 1px solid #dae8f1;
    border-right-width: 3px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 17px;
    text-decoration: none !important;
    color: #0063a6; }
    .sub-menu__link:link:hover {
      color: #0063a6;
      text-decoration: none !important; }

.nested-menu {
  margin: -5px 0 0 0;
  padding: 0; }
  .nested-menu__box {
    display: none;
    position: absolute;
    min-width: 292.5px;
    max-width: 585px;
    top: 1px;
    left: 100%;
    padding: 0;
    border: 1px solid #dae8f1;
    margin-left: -1px;
    padding: 0;
    background-color: #fff;
    min-height: 100%; }
    .nested-menu__box ~ .sub-menu__link:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 6px;
      height: 10px;
      margin-top: -5px;
      background-image: url(../images/sprites.png);
      background-position: 0 0;
      background-repeat: no-repeat; }
    .nested-menu__box:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -341px;
      right: 0;
      background-color: #fff;
      z-index: -1;
      user-select: none;
      pointer-events: none; }
    .nested-menu__box:after {
      display: block;
      position: absolute;
      width: 341px;
      height: 100%;
      left: -341px;
      bottom: -1px;
      border-left: 1px solid #dae8f1;
      border-bottom: 1px solid #dae8f1;
      border-right: 3px solid #dae8f1;
      user-select: none;
      pointer-events: none;
      content: ''; }
  .nested-menu__list {
    display: block;
    padding: 0;
    border-top: 1px solid #dae8f1;
    padding: 17px 34px 17px 20px; }
    .nested-menu__list:nth-child(1) {
      border-top: none; }
    .nested-menu .nested-menu .nested-menu__list {
      border-top: none;
      padding: 0; }
    .nested-menu__list:nth-child(1) {
      margin-top: 0; }
  .nested-menu__link {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 17px;
    text-decoration: none !important;
    color: #0063a6;
    font-weight: bold;
    text-transform: uppercase; }
    .nested-menu .nested-menu .nested-menu__link {
      text-transform: none; }
    .nested-menu__link:link:hover {
      color: #333333;
      text-decoration: none !important; }
  .nested-menu .nested-menu {
    width: auto;
    position: relative;
    left: auto;
    border: none;
    min-height: 0;
    padding-left: 12px;
    margin-top: 0;
    margin-bottom: 0; }
    .nested-menu .nested-menu .nested-menu__list {
      margin-top: 8px;
      margin-bottom: 0; }
    .nested-menu .nested-menu .nested-menu__link {
      font-size: 12px;
      line-height: 16px;
      font-weight: normal; }

.nested-menu__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 585px; }
  .nested-menu__columns:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 1px;
    background-color: #dae8f1; }

.nested-menu__col {
  width: 50%;
  max-width: 50%;
  flex: 1; }

.form-group--checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer; }

.form-group__ico {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #a1c6dd;
  border-radius: 3px; }
  .form-group__checkbox[type=checkbox]:checked + .form-group__ico:before {
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    content: '';
    width: 14px;
    height: 11px;
    background-image: url(../images/personal-data.png);
    background-repeat: no-repeat; }

.form-group__checkbox {
  display: block;
  width: 0;
  height: 0;
  border: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden; }

.form-group--beside {
  max-width: 400px; }
  .form-group--beside .form-group__title {
    display: block; }
  .form-group--beside .inputtextarea,
  .form-group--beside .form-group__textarea {
    width: 100%;
    max-height: 123px; }
  .form-group--beside .form-group__input {
    margin-top: 4px; }

.center {
  text-align: center; }

.callback-form {
  width: 100% !important;
  max-width: 459px !important; }

.authorization-form {
  width: 100%;
  max-width: 360px; }
  .authorization-form .form-group--checkbox {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; }
  .authorization-form .callback-form__title,
  .authorization-form .callback-form__mess {
    text-align: center; }
  .authorization-form .callback-form__mess {
    color: #000;
    margin-bottom: 39px; }

.restore-password {
  display: inline-block;
  border-bottom: 1px dotted;
  cursor: pointer;
  color: #006fb5; }
  .restore-password__box {
    text-align: center; }
    .restore-password__box .button {
      display: block;
      width: 100%;
      max-width: 160px;
      margin: 8px auto 10px auto; }
  .restore-password:hover {
    border-color: transparent; }

.recaptcha {
  margin: 3px -24px 23px -16px; }

.message-wrapper--restore {
  padding-top: 3px;
  padding-bottom: 0;
  background-color: transparent;
  text-align: center;
  color: #000; }

.inputtext:focus, .inputtextarea:focus, .inputselect-custom:focus {
  box-shadow: 0 0 0 2px #fff600; }

.inputtext.inputtext--error:focus, .inputtextarea.inputtext--error:focus, .inputselect-custom.inputtext--error:focus {
  border-color: #a1c6dd; }

.form h1, .form .h1 {
  margin-top: 36px; }
  @media all and (max-width: 767px) {
    .form h1, .form .h1 {
      margin-top: 59px; } }

@media all and (max-width: 767px) {
  .form {
    padding-left: 11px;
    padding-right: 11px; } }

.form-outside {
  border-top: 1px solid #dadada;
  padding-top: 15px; }
  @media all and (max-width: 767px) {
    .form-outside {
      border-top: none;
      padding-top: 0; }
      .form-outside h1 {
        line-height: 1.2em; } }

.form-inside {
  max-width: 545px;
  padding-top: 23px;
  padding-bottom: 81px; }
  @media all and (max-width: 767px) {
    .form-inside {
      padding-bottom: 40px; } }

.form .form-group {
  margin-bottom: 32px; }
  @media all and (max-width: 479px) {
    .form .form-group {
      margin-bottom: 18px; } }
  .form .form-group--beside {
    margin-bottom: 15px; }
  .form .form-group--file {
    margin-bottom: 0; }
    .form .form-group--file + .file-size {
      margin-bottom: 10px; }
  .form .form-group--with-select {
    margin-bottom: 0; }
    .form .form-group--with-select .form-group__left {
      margin-top: 6px;
      align-self: start; }

.form .message-wrapper {
  padding: 0;
  margin-bottom: 26px;
  background-color: transparent; }

.form .message__text {
  color: #ff0000; }

.form-group--column {
  display: flex;
  justify-content: space-between; }
  @media all and (max-width: 479px) {
    .form-group--column {
      display: block; } }

.form-group__left {
  flex: 0 0 auto;
  width: 145px;
  padding-right: 18px;
  text-align: right;
  align-self: center; }
  @media all and (max-width: 479px) {
    .form-group__left {
      display: block;
      margin-bottom: 4px;
      padding-right: 0;
      width: auto;
      text-align: left; } }

.form-group__right {
  position: relative;
  flex: auto; }
  .form-group__right .message__pic {
    padding-right: 0;
    position: absolute;
    top: 4px;
    right: -39px; }

.form-group__columns {
  display: flex;
  flex-direction: row;
  margin-left: -22px; }

.form-group__col {
  flex: auto;
  padding-left: 22px;
  margin-bottom: 32px; }
  @media all and (max-width: 767px) {
    .form-group__col {
      margin-bottom: 18px; } }

.select-default {
  position: relative; }
  .select-default__select {
    display: block;
    width: 100%;
    padding: 9px 37px 10px 10px;
    border: 1px solid #a1c6dd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    line-height: 1;
    color: #666; }
    .select-default__select::-ms-expand {
      display: block; }
  .select-default__ico {
    display: block;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    width: 35px;
    border-left: 1px solid #a1c6dd;
    background: #fff;
    user-select: none;
    pointer-events: none;
    border-radius: 0 4px 4px 0; }
    .select-default__ico:before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -4px;
      margin-top: -1px;
      content: '';
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #000 transparent transparent transparent; }

.form-complete {
  margin-top: 21px;
  border: 1px solid #cde0ee;
  padding: 21px 38px 18px 38px; }
  @media all and (max-width: 767px) {
    .form-complete {
      margin-bottom: 36px; } }

.form__logo {
  display: block;
  margin-top: 18px;
  margin-bottom: 9px;
  margin-left: auto;
  margin-right: auto;
  width: 109px;
  height: 72px; }
  .form__logo + .restore-password__box {
    margin-top: 13px; }
  @media all and (max-width: 767px) {
    .form__logo {
      display: none; } }

.form-group .icon-star {
  position: relative;
  display: inline;
  vertical-align: top;
  margin-left: 4px; }

.request-sent {
  text-align: center;
  max-width: 490px;
  width: 100%;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 22px;
  text-align: center;
  color: #000; }
  @media all and (max-width: 767px) {
    .request-sent {
      padding-left: 20px;
      padding-right: 20px; } }

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }

.transition, .faq-accordion__desc {
  transition: all 0.25s ease-in-out; }

.flipIn {
  animation: flipdown 0.5s ease both; }

.faq-accordion {
  margin-top: 42px;
  margin-bottom: 10px;
  border-bottom: 1px solid #7fb1d2;
  padding-bottom: 50px !important; }
  @media all and (max-width: 767px) {
    .faq-accordion {
      padding-bottom: 25px !important; } }
  .faq-accordion__list {
    margin: 20px 0 0 0 !important;
    padding: 0 !important;
    list-style-type: none;
    animation: flipdown 0.5s ease both; }
    .faq-accordion__list:nth-child(1) {
      animation-delay: show 0.5s 0.25s ease 1 both; }
    .faq-accordion__list:nth-child(2) {
      animation-delay: show 0.5s 0.5s ease 1 both; }
    .faq-accordion__list:nth-child(3) {
      animation-delay: show 0.5s 0.75s ease 1 both; }
    .faq-accordion__list:nth-child(4) {
      animation-delay: show 0.5s 1s ease 1 both; }
    .faq-accordion__list:nth-child(5) {
      animation-delay: show 0.5s 1.25s ease 1 both; }
    .faq-accordion__list:before {
      display: none; }
  .faq-accordion__title {
    display: block;
    background-color: #e6edf2;
    padding: 22px 66px 23px 23px;
    width: 100%;
    position: relative;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold; }
    @media all and (max-width: 767px) {
      .faq-accordion__title {
        padding-top: 14px;
        padding-bottom: 15px;
        padding-left: 10px;
        font-size: 14px; } }
    .faq-accordion__title-ico {
      display: block;
      position: absolute;
      top: 50%;
      right: 27px;
      margin-top: -15px;
      width: 30px;
      height: 30px;
      border: 2px solid #0983d3;
      border-radius: 50%; }
      @media all and (max-width: 767px) {
        .faq-accordion__title-ico {
          top: 20px;
          margin-top: 0; } }
      .faq-accordion__title-ico:before, .faq-accordion__title-ico:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #0983d3; }
      .faq-accordion__title-ico:before {
        width: 12px;
        height: 2px;
        margin-top: -1px;
        margin-left: -6px; }
      .faq-accordion__title-ico:after {
        height: 12px;
        width: 2px;
        margin-top: -6px;
        margin-left: -1px; }
  .faq-accordion__desc {
    position: relative;
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    overflow: hidden; }
    .faq-accordion__desc-inside {
      padding: 18px 22px 19px 23px; }
      @media all and (max-width: 767px) {
        .faq-accordion__desc-inside {
          padding: 10px; } }
      .faq-accordion__desc-inside > :first-child {
        margin-top: 0; }
      .faq-accordion__desc-inside > :last-child {
        margin-bottom: 0; }
  .faq-accordion__input {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
    .faq-accordion__input:checked ~ .faq-accordion__title .faq-accordion__title-ico:after {
      opacity: 0; }
    .faq-accordion__input:checked ~ .faq-accordion__desc {
      max-height: 5000px;
      opacity: 1;
      transform: translate(0, 0); }
    .faq-accordion__input:checked ~ .faq-accordion__border {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #cde0ee;
      user-select: none;
      pointer-events: none; }
  .faq-accordion .js-pic-review {
    display: block;
    position: relative; }
  .faq-accordion .icon--zoom {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 26px;
    height: 26px;
    fill: #fff; }
  .faq-accordion .review-img-zoom {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #0983d3;
    margin-top: -22px;
    margin-left: -22px; }
    .faq-accordion .review-img-zoom--big {
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px; }
      .faq-accordion .review-img-zoom--big .icon--zoom {
        width: 42px;
        height: 42px;
        top: 14px;
        left: 14px; }

.youtube-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }
  .youtube-frame__box {
    margin-top: 24px;
    margin-bottom: 6px;
    display: block;
    position: relative;
    padding-bottom: 55.45617%;
    background-color: silver;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .youtube-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

#vidtop-content {
  top: 0;
  color: #fff; }

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif; }

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2; }

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .6s background;
  transition: .6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center; }

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%; } }

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: .5rem; }
  .vid-info h1 {
    margin-bottom: .2rem; } }

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none; } }

.js-pic-review--size-big {
  display: block;
  position: relative; }

.review-img,
.review-img__align,
.catalog-review-img-wrapper {
  display: block; }

.js-pic-review .catalog-review-img-wrapper {
  height: 199px; }

.js-pic-review .img-responsive {
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.header-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: -1px 0 0 0;
  padding: 0;
  border: 1px solid #6098bb;
  background-color: #147bca;
  display: none; }
  .search.is-active .header-search-results {
    display: block; }
  .search.is-active .search__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .header-search-results__list {
    list-style-type: none;
    background-image: none; }
    .header-search-results__list:nth-child(2) .header-search-results__title {
      background-color: #035c96; }
  .header-search-results__title {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-decoration: none; }
    .header-search-results__title:hover {
      color: #fff;
      background-color: #035c96; }

.form-group__policy {
  position: relative;
  padding-left: 27px;
  margin-top: 33px;
  margin-bottom: 32px;
  font-size: 13px;
  line-height: 18px;
  color: #686868; }
  @media all and (max-width: 767px) {
    .form-group__policy {
      margin-bottom: 42px; } }
  .form-group__policy .form-group__ico {
    top: 0px;
    left: 1px; }
  .form-group__policy .form-group--checkbox {
    display: inline;
    padding-left: 0; }
  .form-group__policy a {
    text-decoration: none; }

.spoiler-content--open {
  max-height: 2000px; }

.mm-nested-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
  width: 320px;
  margin: 0;
  padding: 32px 20px 59px 21px;
  background-color: #efefef; }
  .js-open-nested > .mm-nested-menu {
    display: block; }
  @media all and (max-width: 767px) {
    .mm-nested-menu {
      width: 100%; } }
  .mm-nested-menu + .submenu-link,
  .mm-nested-menu + .mm-nested-menu__link {
    position: relative; }
    .mm-nested-menu + .submenu-link:before,
    .mm-nested-menu + .mm-nested-menu__link:before {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e901';
      position: absolute;
      top: 50%;
      right: 11px;
      margin-top: -3px;
      font-size: 9px; }
  .mm-nested-menu__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .mm-nested-menu__list--back {
      border-bottom: 1px solid #ccdae5;
      padding-bottom: 4px;
      margin-bottom: 7px; }
  .mm-nested-menu__link {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 9px 15px;
    font-size: 16px;
    line-height: 18px; }
    .mm-nested-menu__link--back {
      font-weight: bold;
      padding-left: 31px; }
      .mm-nested-menu__link--back:before {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\e900';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -3px;
        font-size: 10px;
        left: 14px; }
    .mm-nested-menu__link, .mm-nested-menu__link:hover {
      text-decoration: none;
      color: #0063a6; }

.section-contacts {
  border-bottom: 1px solid #bfd8e8;
  padding-top: 13px;
  padding-bottom: 46px; }
  @media all and (max-width: 767px) {
    .section-contacts {
      padding-top: 2px;
      padding-bottom: 30px; } }
  h1 + .section-contacts {
    padding-top: 10px; }
    @media all and (max-width: 767px) {
      h1 + .section-contacts {
        padding-top: 0;
        margin-top: -4px; } }
    h1 + .section-contacts h2, h1 + .section-contacts .h2 {
      margin-top: 0; }
  .section-contacts [href^="tel:"]:not(.contacts__free-call), .section-contacts [href^="tel:"]:not(.contacts__free-call):hover {
    color: #333;
    text-decoration: none; }
  .section-contacts h2, .section-contacts .h2 {
    font-size: 25px;
    margin-bottom: 25px; }
    @media all and (max-width: 767px) {
      .section-contacts h2, .section-contacts .h2 {
        font-size: 21px;
        margin-bottom: 19px; } }
  .section-contacts h3, .section-contacts .h3 {
    margin-top: 31px;
    margin-bottom: 17px;
    font-size: 22px;
    color: #0065a5;
    font-weight: normal; }
    @media all and (max-width: 767px) {
      .section-contacts h3, .section-contacts .h3 {
        font-size: 20px;
        line-height: 22px; } }
  @media all and (max-width: 767px) {
    .section-contacts + h2 {
      margin-top: 42px; } }

.contacts-list {
  display: block;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .content-area .contacts-list > li {
    width: 50%;
    list-style: none;
    margin: 23px 0 0 0;
    padding: 0; }
    @media all and (max-width: 767px) {
      .content-area .contacts-list > li {
        width: 100%;
        margin-top: 14px; } }
    .content-area .contacts-list > li:before {
      display: none; }
    @media all and (min-width: 768px) {
      .content-area .contacts-list > li:nth-child(-n+2) {
        margin-top: 0; } }

.contacts__free-call {
  text-decoration: none;
  font-weight: bold;
  line-height: 25px;
  font-size: 22px; }
  @media all and (max-width: 767px) {
    .contacts__free-call {
      font-size: 18px; } }
  .contacts__free-call, .contacts__free-call:hover {
    color: #0065a5; }

.contacts-info {
  position: relative;
  padding-left: 28px;
  margin-left: 3px; }
  .contacts-info + .contacts-info {
    margin-top: -3px; }
  .contacts-info:before {
    position: absolute;
    color: #0065a5;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .contacts-info--clock:before {
    top: 4px;
    left: 0;
    content: '\e902';
    font-size: 15px; }
  .contacts-info--place:before {
    top: 5px;
    left: 4px;
    content: '\e904';
    font-size: 14px; }
  .contacts-info--phone:before {
    top: 5px;
    left: 0;
    content: '\e906';
    font-size: 14px;
    font-weight: bold; }
  .contacts-info--mobile:before {
    top: 5px;
    left: 0;
    content: '\e905';
    font-size: 15px;
    font-weight: bold; }

.contacts__anchor {
  border-bottom: 1px dotted #0065a5;
  cursor: pointer;
  color: #0065a5; }
  .contacts__anchor:hover {
    color: #000;
    border-color: transparent; }

.contacts__silver {
  display: block;
  margin-top: 1px;
  margin-bottom: -6px;
  color: #666; }

.contacts__delivery {
  display: block;
  position: relative;
  padding-left: 78px;
  font-size: 14px;
  line-height: 19px;
  color: #0362a4; }
  .contacts__delivery span {
    border-bottom: 1px solid; }
  .contacts__delivery, .contacts__delivery:hover {
    text-decoration: none; }
  .contacts__delivery:hover {
    color: #333; }
    .contacts__delivery:hover span {
      border-color: transparent; }
  .contacts__delivery:before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: -8px;
    left: 1px;
    font-size: 58px;
    color: #0362a4;
    content: '\e903'; }

.catalog-detail--contacts .tabs__caption {
  padding-left: 0;
  margin-left: 0; }

.catalog-detail--contacts .tabs__content {
  border-bottom: none; }

.catalog-detail--contacts .tabs .r-tabs-accordion-title {
  border: none; }

@media all and (max-width: 767px) {
  .catalog-detail--contacts {
    margin-bottom: 10px; } }

.driving-directions {
  display: flex;
  flex-wrap: wrap;
  margin-left: -13px;
  margin-right: -13px;
  margin-bottom: 48px;
  counter-reset: item; }
  @media all and (max-width: 767px) {
    .driving-directions {
      margin-bottom: 0; } }
  .driving-directions__list {
    padding-left: 13px;
    padding-right: 13px;
    width: 25%;
    margin-bottom: 21px; }
    @media all and (min-width: 768px) and (max-width: 979px) {
      .driving-directions__list {
        width: 50%; } }
    @media all and (max-width: 767px) {
      .driving-directions__list {
        width: 50%; } }
    @media all and (max-width: 479px) {
      .driving-directions__list {
        width: 100%; } }
  .driving-directions__inside {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    padding-bottom: 78.30189%; }
  .driving-directions__header {
    padding-bottom: 13px; }
    .driving-directions__header:before {
      display: block;
      background-color: #e6edf2;
      content: counter(item);
      counter-increment: item;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 15px;
      padding: 13px 19px 11px 19px;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      color: #0063a6; }
  .driving-directions__picture {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 78.30189%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important; }
  .driving-directions .icon--zoom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
    width: 30px;
    height: 30px; }

@media all and (max-width: 767px) {
  .r-tabs-accordion-title__box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    background-color: #0164a5;
    background-image: url(../images/menu-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat; }
    .r-tabs-accordion-title__box .r-tabs-accordion-title {
      min-width: 255px;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      padding-right: 0 !important; }
      .r-tabs-accordion-title__box .r-tabs-accordion-title:last-child {
        padding-right: 15px !important; }
      .r-tabs-accordion-title__box .r-tabs-accordion-title .r-tabs-anchor {
        font-size: 14px;
        color: #fff; }
      .r-tabs-accordion-title__box .r-tabs-accordion-title.r-tabs-state-active {
        position: relative; }
        .r-tabs-accordion-title__box .r-tabs-accordion-title.r-tabs-state-active:before {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          height: 3px;
          background-color: #f60b00; }
        .r-tabs-accordion-title__box .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
          color: #fff; } }

@media all and (max-width: 767px) {
  .contacts-info [href^=tel] {
    border-bottom: 1px solid #0063a6;
    padding-bottom: 2px; } }

.site-wrapper {
  overflow: hidden; }

.header__block-align {
  text-align: left; }
  @media all and (max-width: 979px) {
    .header__block-align {
      white-space: nowrap;
      border-left: none; } }
  @media all and (max-width: 767px) {
    .header__block-align {
      text-align: right;
      border-color: transparent; }
      .header__block-align.text-center {
        padding-left: 0;
        width: auto;
        float: right; } }
  @media all and (min-width: 768px) and (max-width: 979px) {
    .header__block-align.hidden-md {
      left: 40px; }
      .header__block-align.hidden-md:before {
        content: '';
        position: absolute;
        margin-top: -1px;
        left: -9px;
        width: 1px;
        height: 25px;
        width: 1px;
        height: 27px;
        background-color: #c8c8c8; } }
  @media all and (max-width: 359px) {
    .header__block-align {
      padding-left: 0; } }

.header-contacts {
  display: block; }
  @media all and (max-width: 979px) {
    .header-contacts-align {
      white-space: nowrap; }
    .header-contacts .phone {
      display: inline-block;
      vertical-align: top; }
    .header-contacts .badge-phone {
      position: relative;
      top: -4px; } }
  @media all and (max-width: 767px) {
    .header-contacts .phone__text {
      position: relative;
      top: 0;
      font-size: 16px; }
    .header-contacts .badge-phone {
      top: -1px;
      margin-left: 7px; } }
  .header-contacts__free {
    display: block;
    margin-bottom: -2px;
    color: #8f8d90; }
  .header-contacts__text {
    display: block;
    width: auto;
    padding-left: 0;
    margin-top: -3px;
    font-size: 13px;
    line-height: 1;
    color: #8f8d90; }
    @media all and (max-width: 979px) {
      .header-contacts__text {
        display: none; } }
  .header-contacts__work {
    font-size: 13px;
    line-height: 1;
    color: #8f8d90; }
  .header-contacts__right {
    width: 100%;
    max-width: 181px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px; }
    @media all and (max-width: 979px) {
      .header-contacts__right {
        display: none; } }
    .header-contacts__right .pdeudo-link {
      font-size: 18px; }
    .header-contacts__right .pdeudo-link,
    .header-contacts__right .badge-phone {
      vertical-align: middle;
      display: inline-block; }
  @media all and (max-width: 979px) {
    .header-contacts__phone {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  @media all and (min-width: 768px) and (max-width: 979px) {
    .header-contacts__phone {
      top: -1px;
      position: relative; } }

.header-room {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 19px;
  color: #000; }
  @media all and (max-width: 979px) {
    .header-room {
      display: inline-block;
      vertical-align: top;
      margin-left: 16px;
      margin-top: 4px;
      margin-bottom: 7px; } }
  @media all and (max-width: 767px) {
    .header-room {
      width: 23px;
      height: 23px;
      padding: 5px; } }
  @media all and (max-width: 359px) {
    .header-room {
      margin-left: 0; } }
  .header-room__text {
    display: block; }
  .header-room__link {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #0063a6; }
    @media all and (min-width: 768px) and (max-width: 979px) {
      .header-room__link {
        font-weight: bold; } }
    .header-room--out .header-room__link:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px dotted; }
  .header-room:before {
    display: block;
    content: '';
    position: absolute;
    top: 1px;
    left: -1px;
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 16px; }
  .header-room--intro:before {
    background-position: 0 -17px; }
  .header-room--out:before {
    background-position: -30px -17px; }

.badge-phone {
  margin-left: 0;
  margin-right: 5px; }

@media all and (min-width: 980px) {
  .header {
    padding-top: 8px;
    padding-bottom: 12px; }
    .header .logo {
      position: relative;
      left: -10px; }
  .header__block-align {
    margin-top: 7px; } }

.alert-mess {
  display: block;
  position: relative;
  text-align: center;
  font-size: 0; }
  .alert-mess:before {
    display: none; }
  .alert-mess__pic {
    display: none; }
  .alert-mess__text {
    display: inline-block;
    position: relative;
    padding-right: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    border-bottom: 1px solid rgba(0, 94, 177, 0.5); }
    .alert-mess__text:before, .alert-mess__text:after {
      position: absolute;
      top: -4px;
      display: block;
      border: none;
      width: 21px;
      height: 19px;
      background-image: url(../images/alert-mess.png);
      background-repeat: no-repeat;
      background-position: center;
      content: ''; }
    .alert-mess__text:before {
      left: -34px; }
    .alert-mess__text:after {
      right: -34px; }

@media print {
  .button-form.js-order {
    display: none !important; } }

.clients {
  margin-bottom: 12px; }

.h2 + .news-line {
  margin-top: 29px; }

.header-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 9px; }
  @media all and (max-width: 979px) {
    .header-contacts {
      padding-top: 0; } }
  .header-contacts .phone {
    display: block;
    margin-bottom: -4px; }
    @media all and (max-width: 767px) {
      .header-contacts .phone {
        margin-bottom: 0;
        top: -4px;
        font-size: 16px; } }
  @media all and (min-width: 980px) {
    .header-contacts .phone__text {
      font-size: 22px; } }
  @media all and (max-width: 767px) {
    .header-contacts {
      padding-top: 2px; } }
  .header-contacts-align {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-left: 2px; }
    @media all and (min-width: 768px) and (max-width: 979px) {
      .header-contacts-align {
        margin-top: 0;
        margin-left: 10px; } }
    @media all and (max-width: 767px) {
      .header-contacts-align {
        margin-top: -1px;
        margin-left: 8px; } }
    @media all and (max-width: 359px) {
      .header-contacts-align {
        margin-left: 0; } }

.header .callback-link,
.header .send-link {
  display: block;
  font-size: 15px;
  line-height: 1;
  text-align: left;
  text-align-last: left; }
  @media all and (max-width: 979px) {
    .header .callback-link .pdeudo-link,
    .header .send-link .pdeudo-link {
      display: none; } }

@media all and (min-width: 768px) and (max-width: 979px) {
  .header .send-link {
    display: none; } }

.header .callback-link {
  margin-right: 25px; }
  @media all and (max-width: 767px) {
    .header .callback-link {
      margin-right: 0; } }
  .header .callback-link:after {
    display: none; }

.header .pdeudo-link {
  border-bottom: 1px solid #0063a6;
  line-height: 18px; }

.header .badge-phone {
  top: 1px;
  left: -1px; }
  @media all and (min-width: 768px) and (max-width: 979px) {
    .header .badge-phone {
      margin-left: 13px; } }

.header .callback-link .badge-phone {
  animation: blue-shadow ease-in-out 3s infinite;
  background-image: linear-gradient(90deg, #0166b8 0%, #005da0 100%); }

.header .send-link .badge-phone {
  animation: red-shadow ease-in-out 3s infinite;
  background-image: linear-gradient(top, #c21508, #fe0001); }

.header .icon--message {
  top: 2px;
  margin-left: 1px; }

@media all and (max-width: 979px) {
  .header__logo {
    top: 7px;
    left: -12px; } }

@media all and (min-width: 768px) and (max-width: 979px) {
  .header__logo:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 1px;
    height: 27px;
    background-color: #c8c8c8;
    margin-top: -10px; } }

@media all and (max-width: 767px) {
  .header__logo {
    top: auto;
    left: auto; } }

@media all and (max-width: 767px) {
  .header {
    padding-bottom: 24px;
    padding-bottom: 6px; } }

@keyframes blue-shadow {
  0% {
    box-shadow: none; }
  25% {
    box-shadow: 0 0 1px 5px rgba(0, 95, 165, 0.4); }
  50% {
    box-shadow: none; }
  100% {
    box-shadow: none; } }

.header-room__preheader {
  font-size: 15px;
  line-height: 19px;
  color: #5d5d5d; }
  .header-room__preheader span {
    display: block;
    margin-right: -20px;
    color: #8f8d90;
    font-size: 14px; }

.header-logo-footer {
  padding-left: 112px;
  padding-right: 27px;
  margin-top: -5px;
  display: flex;
  justify-content: space-between; }
  .header-logo-footer__sublink {
    display: inline-block;
    position: relative;
    font-size: 13px;
    line-height: 18px; }
    .header-logo-footer__sublink:before {
      content: '';
      border-bottom: 1px solid;
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0; }
    .header-logo-footer__sublink:hover:before {
      border-color: transparent; }
  @media all and (max-width: 979px) {
    .header-logo-footer {
      display: none; } }

.menu-wrapper--fixed {
  position: absolute; }

.remove-float {
  float: none !important; }

@media all and (min-width: 768px) and (max-width: 1023px) {
  .map-anchor {
    display: block;
    border: none;
    padding-top: 100px;
    margin-top: -100px; } }

@media all and (max-width: 767px) {
  .map-anchor {
    display: block;
    border: none;
    padding-top: 60px;
    margin-top: -60px; } }

@media all and (max-width: 1025px) {
  .table-container {
    max-width: 100vw;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; } }

.contacts__anchor {
  text-decoration: none; }

/*# sourceMappingURL=redesing.css.map */
