

@keyframes flipdown{
	0%{
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}
	5% {opacity: 1}
	80%{transform: rotateX(8deg)}
	83%{transform: rotateX(6deg)}
	92%{transform: rotateX(-3deg)}
	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}
.transition {transition: all 0.25s ease-in-out}
.flipIn {animation: flipdown 0.5s ease both}


.faq-accordion {
	$class: &;
	margin-top: 42px;
	margin-bottom: 10px;
	border-bottom: 1px solid #7fb1d2;
	padding-bottom: 50px !important;
	@include mq_phone {
		padding-bottom: 25px !important;
	}

	&__list {
		margin: 20px 0 0 0 !important;
		padding: 0 !important;

		list-style-type: none;
		animation: flipdown 0.5s ease both;
		@for $i from 1 through 5 {
			&:nth-child(#{$i}){
				animation-delay:show .5s #{$i*0.25}s ease 1 both;
			}
		}
		&:before {
			display: none;
		}
	}
	&__title {
		display: block;
		background-color: #e6edf2;
		padding: 22px 66px 23px 23px;

		width: 100%;
		position: relative;

		user-select: none;
		cursor: pointer;
		font-size: 16px;
		line-height: 19px;
		font-weight: bold;

		@include mq_phone {
			padding-top: 14px;
			padding-bottom: 15px;
			padding-left: 10px;
			font-size: 14px;
		}

		&-ico {
			display: block;
			position: absolute;
			top: 50%;
			right: 27px;
			margin-top: -15px;

			width: 30px;
			height: 30px;
			border: 2px solid #0983d3;
			border-radius: 50%;
			@include mq_phone {
				top: 20px;
				margin-top: 0;
			}
			&:before,
			&:after {
				display: block;
				content:'';
				position: absolute;
				top: 50%;
				left: 50%;

				background-color: #0983d3;
			}
			&:before {
				// гориз
				width: 12px;
				height: 2px;
				margin-top: -1px;
				margin-left: -6px;
			}
			&:after {
				// верт
				height: 12px;
				width: 2px;
				margin-top: -6px;
				margin-left: -1px;
			}
		}// END &-ico
	}// END &__title
	&__desc {
		position: relative;
		// background-color: #f2eeda;

		margin-top: 0;
		max-height: 0;
		opacity: 0;
		transform: translate(0, 50%);

		overflow: hidden;
		@extend .transition;

		&-inside {
			// font-size: 16px;
			padding: 18px 22px 19px 23px;
			@include mq_phone {
				padding:10px;
			}
			&>:first-child {
				margin-top: 0;
			}
			&>:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		&:checked ~ #{$class}__title #{$class}__title-ico:after {
			opacity: 0;
		}
		&:checked ~ #{$class}__desc {
			max-height: 5000px;
			opacity: 1;
			transform: translate(0 ,0);
		}
		&:checked ~ #{$class}__border {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 1px solid #cde0ee;
			user-select: none;
			pointer-events: none;
		}
	}
	.js-pic-review {
		display: block;
		position: relative;
	}

	.icon--zoom {
		position: absolute;
		top: 9px;
		left: 9px;
		width: 26px;
		height: 26px;
		fill: #fff;
	}

	.review-img-zoom {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 50%;

		width: 44px;
		height: 44px;
		background-color: #0983d3;
		margin-top: -22px;
		margin-left: -22px;


		&--big {
			width: 70px;
			height: 70px;
			margin-top: -35px;
			margin-left: -35px;

			.icon--zoom {
				width: 42px;
				height: 42px;
				top: 14px;
				left: 14px;
			}
		}
	}


}// END faq-accordion
