

.menu-area {
	z-index: 99;
}
.menu__item {
	position: relative;
}

.menu-area .menu-link:hover {
	color: #fff;
}

$nestedMenu:'.nested-menu';
$subMenu:'.sub-menu';
$subMenuSmall:'.sub-menu__box--small';
.sub-menu {
	$class: &;
	&__box {
		 display: none;
		.menu__item:hover & {
			display: block;
		}
		position: absolute;
		top: 100%;
		padding-top: 2px;

		left: -83px;

		width: 341px;
		border-bottom:1px solid #dae8f1;
		@at-root #{$subMenuSmall}{
			width: 243px;
			left: 0;
		}


		font-size: 0;
		line-height: 0;
		z-index: 100;
	}


	display: block;
	margin: 0;
	padding: 0;
	background-color: #fff;
	&__list {
		display: block;
		margin-top: -1px;
		&:hover {
			#{$nestedMenu}__box {
				display: block;
			}
			#{$class}__link {
				color: #0063a6;
				border-color: #dae8f1;
				background-color: #dae8f1;
				z-index: 1;
				&:after {
					background-position: -9px 0;
				}
			}
		}
		&:last-of-type>#{$class}__link{
			border-bottom: none;
		}
	}
	&__link {
		display: block;
		position: relative;
		border: 1px solid #dae8f1;
		border-right-width: 3px;
		// border-color: red;
		padding-top: 12px;
		padding-bottom: 13px;
		padding-left: 20px;
		padding-right: 20px;
		text-transform: uppercase;
		// @at-root #{$subMenuSmall} & {
		// 	border-left: none;
		// 	border-right: none;
		// }

		font-size: 14px;
		line-height: 17px;
		text-decoration: none !important;
		color: #0063a6;
		&:link:hover {
			color: #0063a6;
			text-decoration: none !important;
		}

	}// END &__link
}
// END
.nested-menu {
	$class: &;

	// width: 418px;
	margin: 0;
	padding: 0;
	&__box {
		display: none;
		position: absolute;
		width: 585px;
		top: 1px;
		left: 100%;
		padding: 0;
		border: 1px solid #dae8f1;
		// border-color: red;
		margin-left: -1px;

		padding-top: 20px;
		padding-left: 20px;
		padding-right: 34px;
		padding-bottom: 15px;

		background-color: #fff;
		min-height: 100%;

		// columns: 2;
		// column-gap: 30px;

		~ .sub-menu__link:after {
			content:'';
			position: absolute;
			top: 50%;
			right: 23px;

			width: 6px;
			height: 10px;
			margin-top: -5px;
			background-image: url(../images/sprites.png);
			background-position: 0 0;
			background-repeat: no-repeat;
		}
		&:before {
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: -341px;
			right: 0;
			background-color: #fff;
			z-index: -1;
			user-select: none;
			pointer-events: none;
		}
		&:after {
			display: block;
			position: absolute;
			width: 341px;
			height: 100%;
			left: -341px;
			bottom: -1px;
			border-left: 1px solid #dae8f1;
			border-bottom: 1px solid #dae8f1;
			border-right: 3px solid #dae8f1;
			user-select: none;
			pointer-events: none;
			content:'';
		}
	}

	&__list {
		display: block;
		margin: 22px 0;
		padding: 0;
		&:nth-child(1) {
			margin-top: 0;
			// .bx-firefox & {
			// 	margin-top: 22px;
			// }
		}
		//
		// -webkit-column-break-inside: avoid;
		//           page-break-inside: avoid;
		//                break-inside: avoid;
		// 			   break-inside: avoid-column;
		// .bx-firefox & {
		// 	display: inline-grid;
		// 	justify-self: start;
		// }
	}
	&__link {
		display: block;
		position: relative;

		// font-size: 15px;
		font-size: 14px;
		line-height: 17px;
		text-decoration: none !important;
		color: #0063a6;
		// font-weight: bold;
		text-transform: uppercase;
		@at-root #{$class} #{$class} & {
			text-transform: none;
		}
		&:link:hover {
			color: #333333;
			text-decoration: none !important;
		}

		// -webkit-column-break-inside: avoid;
		//           page-break-inside: avoid;
		//                break-inside: avoid;
		// 			   break-inside: avoid-column;
	}
	& & {
		width: auto;
		position: relative;
		left: auto;
		border:none;
		min-height: 0;
		padding-left: 12px;
		margin-top: 18px;
		margin-bottom: 30px;
		#{$class}__list {
			margin-top: 11px;
			margin-bottom: 0;
		}
		#{$class}__link {
			font-size: 14px;
			line-height: 16px;
			font-weight: normal;
		}
	}


}// END .nested-menu
// .sub-menu__box,
// .nested-menu__box{
// 	display: block;
// }
// .sub-menu>:first-child {
// 	display: block;
// }
//
// .sub-menu__box .menu__item:nth-child(3) {
// 	border: 4px solid red;
// }
// .nested-menu__box {
// 	display: block;
// }


//
// .bx-firefox {
// 	.nested-menu__box {
// 		padding-top: 0;
// 	}
// 	.nested-menu__list {
// 		margin-bottom: 9px;
// 	}
//
// 	.nested-menu .nested-menu {
// 		margin-bottom: 0;
// 		margin-top: 6px;
// 	}
// 	.nested-menu .nested-menu .nested-menu__list {
// 		// margin-top: 0;
// 	}
// }


.nested-menu__columns {
	// border: 1px solid red;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: -15px;
	margin-right: -15px;
}

.nested-menu__col {
	// border: 1px solid green;
	width: 50%;
	flex: 1;
	margin-left: 15px;
	margin-right: 15px;
}
