.spoiler-content--open {
	max-height: 2000px;
}
.mm-nested-menu {
	$class: &;
	display: none;

	// display: block;
	.js-open-nested > & {
		display: block;
	}
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	overflow: auto;

	width: 320px;
	@include mq_phone {
		width: 100%;
	}// END mq_phone
	margin: 0;
	padding: 32px 20px 59px 21px;

	background-color: #efefef;

	+ .submenu-link,
	#{$class} + &__link {
		position: relative;
		&:before {
			@include icomoon;
			content:'\e901';
			position: absolute;
			top: 50%;
			right: 11px;
		    margin-top: -3px;
		    font-size: 9px;
		}
	}
	&__list {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		&--back {
			border-bottom: 1px solid #ccdae5;
			padding-bottom: 4px;
			margin-bottom: 7px;
		}
	}
	&__link {
		display: block;
		position: relative;
		cursor: pointer;
		padding: 9px 15px;

		font-size: 16px;
		line-height: 18px;
		&--back {
			font-weight: bold;
			padding-left: 31px;
			&:before {
				@include icomoon;
				content:'\e900';
				display: block;
				position: absolute;
				top: 50%;

				margin-top: -3px;
				font-size: 10px;
			    left: 14px;
			}
		}// END &__link



		&, &:hover {
			text-decoration: none;
			color: #0063a6;
		}
	}
}// END .mm-nested-menu
